In [26]:
a=22
b=22
if a>b:
    print("a greater than b")
elif a==b:
    print("a equal tp b")
else:
    print("a is smaller than b")

a equal tp b

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [29]:
def myfunction():
    print("hello")

In [30]:
myfunction()

hello

In [31]:
def function2(frame):
    print("hello "+frame)

In [32]:
function2("Dila")

hello Dila

In [7]:
def my_fun(child1,child2,child3):
    print("the youngest one "+child3)

In [9]:
my_fun("dila hazal","mustafa","elif ravza")

the youngest one elif ravza

In [35]:
def functin3(country="Norway"):
    print("I'm from "+country)

In [36]:
functin3()

I'm from Norway

In [37]:
def fun4(food):
    for x in food:
        print(x)

In [38]:
myfood=["apple","banana","cherry"]
fun4(myfood)

apple
banana
cherry

In [10]:
def fun5(x):
    return 5*x

In [11]:
fun5(20)

100

In [41]:
x=lambda a,b:a*b
print(x(4,5))

20

In [42]:
x=lambda a,b,c:a+b+c
print(x(25,45,3))

73

In [43]:
def fun6(n):
    return lambda a:a*n

In [44]:
mydouble=fun6(2)

In [45]:
mydouble(5)

10

In [46]:
import pandas as pd

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [1]:
mydataset={
    'cars':["bmw","volvo","ford"],
    'color':["red","white","black"]
}
print(type(mydataset))

<class 'dict'>

In [3]:
myvar=pd.DataFrame(mydataset)
print(myvar)

NameError: name 'pd' is not defined

In [50]:
a=[1,2,3]
myvar2=pd.Series(a)
print(myvar2)

0    1
1    2
2    3
dtype: int64

In [51]:
print(myvar2[0])

1

In [52]:
myvar3=pd.Series(a,index=["x","y","z"])
print(myvar3)

x    1
y    2
z    3
dtype: int64

In [53]:
print(myvar3["y"])

2

In [54]:
colories={"day1":4000,"day2":350,"day3":330}
myvar4=pd.Series(colories)

In [55]:
print(myvar4)

day1    4000
day2     350
day3     330
dtype: int64

In [56]:
print(myvar4["day2"])

350

In [57]:
data = {
    "calories":[450,300,320],
    "duration":[50,30,40]
    }

df=pd.DataFrame(data)
print(df)

   calories  duration
0       450        50
1       300        30
2       320        40

In [58]:
df.loc[2]

print(df.loc[[0,1]])

   calories  duration
0       450        50
1       300        30

In [59]:
df1 =pd.DataFrame(data,index=["day1", "day2","day3"])
print(df1)

      calories  duration
day1       450        50
day2       300        30
day3       320        40

In [60]:
print(df1.loc["day2"])

calories    300
duration     30
Name: day2, dtype: int64

In [ ]:
df3 =pd.read_csv('exercise_data.csv')#dosya olmadığı için kod çalışmıyor
print(df3)#dosyayı çalıştırıyor date set kısmını gösteriyor

print(df3.to_string())#date a seti string haline getiriyor

In [ ]:
df3.head(8)#dosya olmadığı için kod çalışmıyor
#data setin baş kısmını gösteriyor

In [ ]:
df3.tail(2)#dosya olmadığı için kod çalışmıyor
#data setin kuyruk kısmını gösteriyor

In [ ]:
df3.info()#dosya olmadığı için kod çalışmıyor
#data set bilgisni veriyor

In [ ]:
new_df=df3.dropna()
#remove all the null column
new_df

In [ ]:
df3.dropna(inplace=True)
df3
#idk